/* General & darkTheme*/

body {
    background-color: white;
    color: black;
}

body input {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.082);
    border-radius: 5px;
    width:100%;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
}

body input:focus {
    outline: none;
    border: 1px solid #007bffc7;
}

body p {
    color: black;
}

body .custom-column {
    border: 1px solid #e5e5e5;
}

body .register-row {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
} 

.bg-custom {
    padding-left: 200px;
    padding-right: 200px;
}

body .inverted-color {
    color: white;
}

/* Dark Theme */

body.dark-theme {
    background-color: #17181a;
    color: rgb(238, 238, 238);
}

body.dark-theme p {
    color: rgb(216, 216, 216);
}

body.dark-theme input {
    background-color: rgb(26, 26, 26);
}

body.dark-theme .custom-column {
    border: 1px solid #2c2d2f;
}

body.dark-theme .register-row {
    background-color: rgb(31, 32, 32);
}

/* Others */

.pointer {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.decoration-none {
    text-decoration: none; 
}

/* Fonts */

.kanit {
    font-family: 'Kanit', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.monsterrat {
    font-family: "Montserrat", sans-serif;
}

.small {
    font-size: 10px;
}

.medium {
    font-size: 12px;
}

.big {
    font-size: 20px;
}

.extra-big {
    font-size: 30px;
}